.row
  .col-md-10.col-md-push-1
    %b Email:
    %span= @user.email
.row
  .col-md-1
  -if @user.billing_address
    .col-md-3
      %h3 Billing Address
      =render 'addresses/view', address: @user.billing_address

  -if @user.shipping_address
    .col-md-3
      %h3 Shipping Address
      =render 'addresses/view', address: @user.shipping_address

  -if @user.credit_card
    .col-md-3
      %h3 Credit card
      =render 'credit_cards/view', card: @user.credit_card