.container
  %h1.text-center= t '.title'
  %br
  .carousel.slide#popular{data:{ride:'carousel',interval:20000000}}
    .carousel-inner{role:'listbox'}
      -@popular_books.each_with_index do |book,i|
        .item{class:i==0?'active':''}
          .row.title
            .col-xs-12
              %h2
                =link_to book.title, book
                %small by #{book.author.title}
          .row.content
            .col-xs-12
              .image-container
                =link_to image_tag(book.image.url, class:['image']), book
              .describe
                .description
                  =book.short_description
                %div
                  %div.price
                    %b$#{book.price}
                  .cart-btn-container{id: book.id}
                    =render 'carts/add_btn', book: book, orders_item: OrdersItem.new
    %a.left.carousel-control{href:'#popular', role:'button', 'data-slide': 'prev'}
      %span.glyphicon.glyphicon-chevron-left{'aria-hidden':true}
      %span.sr-only Previous
    %a.right.carousel-control{href:'#popular', role:'button', 'data-slide': 'next'}
      %span.glyphicon.glyphicon-chevron-right{'aria-hidden':true}
      %span.sr-only Next