.review.review-container
  .header
    -(1..5).to_a.each do |val|
      =radio_button :"review_#{review.id}", :rating, val, class: 'star', checked: val==review.rating.to_i, disabled:true
    %small by #{review.user.email} #{I18n.l review.created_at, format: :short}
  .review-text= review.text