%h2= t '.title.reviews'

.row
  .col-md-4
    -if @book.reviews.proved.present?
      =render collection: @book.reviews.proved, partial: 'books/review'
    -else
      %h3= t '.empty'

  .col-md-4.col-md-pull-1.pull-right.new-review
    -if user_signed_in?
      %h3= t '.title.new'
      =render 'reviews/form', review: @book.reviews.new
    -else
      %h3= t '.log_to_review'