%table.table.books
  %thead
    %tr
      %th
      %th BOOK
      %th PRICE
      %th Quantity
      %th TOTAL
      %th
  %tbody
    -@orders_items.each do |item|
      =render 'carts/cart_row', item:item
    %tr
      %td{colspan:4}
      %td{colspan:2}
        %b
          $#{current_order.total}
.col-md-4.col-md-push-4
  =link_to "Make order", checkout_path, class: 'btn btn-success btn-block'