%tr[item]
  =form_for item, remote: true,format: :json do |f|
    %td
      =link_to item.book do
        =image_tag item.book.image, height: '80px', class:'img-thumbnail'
    %td
      =link_to item.book do
        =item.book.title
    %td
      $#{item.cost}
    %td.count
      =f.number_field :count, value: item.count.to_i, class: 'form-control count', min:1, max: 20
      =f.hidden_field :book_id, value: item.book.id
    %td.total
      $#{item.total}
    %td
      =f.button icon('refresh'), class: 'btn btn-primary'
      =link_to icon('remove'),
               item,
               { data: { confirm: t('.confirm', book: item.book.title), type: :json },
                         method: :delete,
                         remote: true,
                         class: "btn btn-danger" }