.confirm
  .row
    %h2= complited ? 'Complited' : 'Confirm'
  .row
    .col-md-3
      %h3 Shipping Address
      -unless complited
        =button_tag(icon('edit'),class:'btn btn-link tab-link',id:'address')
      .info
        -if @order.use_billing_address
          Ship to billing address
        -else
          =render 'addresses/view', address: @order.shipping_address
    .col-md-3
      %h3 Billing Address
      -unless complited
        =button_tag(icon('edit'),class:'btn btn-link tab-link', id:'address')
      .info
        =render 'addresses/view', address: @order.billing_address
    .col-md-3
      %h3 Shipments
      -unless complited
        =button_tag(icon('edit'),class:'btn btn-link tab-link', id:'delivery')
      .info
        =@order.delivery.name
    .col-md-3
      %h3 Payments
      -unless complited
        =button_tag(icon('edit'),class:'btn btn-link tab-link', id:'payment')
      .info
        =render 'credit_cards/view', card: @order.credit_card
  .row
    .col-md-4.col-md-push-4
      -if complited
        =link_to "Go back to the store", root_path, class:'btn btn-block btn-success'
      -else
        =form_tag make_order_url, remote: true, method: :patch, class:'form' do
          =submit_tag "Make Order", class:'btn btn-success btn-block'