%h1 Checkout
.col-md-8.checkout
  %ul.nav.nav-tabs{role:"tablist"}
    =tab_header 'address', true, true
    =tab_header 'delivery', false
    =tab_header 'payment', false
    =tab_header 'confirm', false
    =tab_header 'complete', false
  %div.tab-content
    %div.tab-pane.fade-in.active{role:"tabpanel", id:"address"}
      = render 'carts/checkout_address'
    %div.tab-pane.fade{role:"tabpanel", id:"delivery"}
      = render 'carts/checkout_delivery'
    %div.tab-pane.fade{role:"tabpanel", id:"payment"}
      = render 'carts/checkout_payment'
    %div.tab-pane.fade{role:"tabpanel", id:"confirm"}

    %div.tab-pane.fade{role:"tabpanel", id:"complete"}

.col-md-4
  %h3.text-center Order summary
  .order-summary
    =render 'checkout_summary', order: @order