$(".cart-link").html("#{escape_javascript(render 'layouts/cart_text')}");
$("#orders_item_#{@order_item.id} .total").html("#{@order_item.total}");
$(".cart-content .cart-total").html("#{@order.subtotal}");