%h1 Checkout
.col-sm-8.checkout
  %ul.nav.nav-tabs{role:"tablist"}
    =tab_header 'address', t('.tab-address'), true, true
    =tab_header 'delivery', t('.tab-delivery'), false
    =tab_header 'payment', t('.tab-payment'), false
    =tab_header 'confirm', t('.tab-confirm'), false
  %div.tab-content
    %div.tab-pane.fade-in.active{role:"tabpanel", id:"address"}
      = render 'address'
    %div.tab-pane.fade{role:"tabpanel", id:"delivery"}
      = render 'delivery'
    %div.tab-pane.fade{role:"tabpanel", id:"payment"}
      = render 'payment'
    %div.tab-pane.fade{role:"tabpanel", id:"confirm"}

.col-sm-4
  %h3.text-center= t('.summary')
  .order-summary
    =render 'summary', order: current_order