-if @form.errors.any?
  $('h1').after('#{escape_javascript(render 'shared/alert', message: @form.errors.to_a.join('<br>').html_safe)}')
-else
  $('.checkout .nav-tabs li').filter('.active').next('li').removeClass('disabled').find('a[data-toggle="tab"]').tab('show');
  $('.order-summary').html('#{escape_javascript(render 'summary', order:@form.order)}');
  -if @form.step == :payment
    $('.tab-content #confirm').html('#{escape_javascript(render 'confirm', complited:false)}')
    $('.tab-link').click(function(e) {$('[href="#'+$(this).attr('id')+'"]').tab('show')})