/*
 *= require_self
 *= require jquery-star-rating
 *= require home
 *= require books
 *= require categories
 *= require carts
 *= require checkout
 *= require common
 *= require user
 *= require order
 *= require devise
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 70px 0 30px;
}

.centered {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}