// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-detail {
  .image img {
    width: 100%;
  }
  .price {
    display: inline-block;
  }
  .reviews {
    .review {
      margin: 10px 0px;
      .rating-cancel {
        display:none!important;
      }
      .star-rating-control {
        display: inline-block;
      }
      .author {
        color: cornflowerblue;
        margin-left: 15px;
      }
      .review-text {
        padding:10px;
      }
    }
  }

}