// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart-btn-container {
  margin-left: 15px;
  display: inline-block;

  .add-to-cart {
    width: 100px;
    display: inline-block;
  }

  .order-item {
    .count {
      width: 5em;
    }
  }
}
