.nav-tabs .disabled {
  pointer-events: none;
  color:#dedede
}

.order-summary {
  table tr td{
    vertical-align: middle;
  }
}

.checkout_form {
  label {
    margin-right: 5px;
  }

  label.use-billing {
    margin-left: 25px;
    margin-top: 2px;
  }
  .use-billing {
    position: absolute;
  }

  .shipping-address,
  .billing-address {
    transition-duration: 1s;
    position: static;
    overflow: hidden;
    max-height:40em;
    margin-top:3em;

  }
  #checkout_form_use_billing_address:checked ~ .shipping-address {
    max-height:0;
  }
}

#delivery {
  margin-top: 15px;
}

.confirm {
  .col-md-3 {
    h3 {
      display: inline-block;
      font-size: 16px;
      font-weight:bold;
    }
    h3+button {
      padding: 0;
    }
  }

  #new_checkout_form {margin-top: 15px}
}