.col-xs-push-1.col-xs-10.col-sm-push-0.col-sm-6.col-lg-4.book
  =link_to book do
    .book-container
      .image.centered
        =image_tag book.image.url
      %h2
        = book.title
        %small
          %b $#{book.price}
      %p.description= book.decorate.cutted_description