=form_for review, remote:true, html:{class:'form'} do |f|
  =f.hidden_field :reviewable_type
  =f.hidden_field :reviewable_id
  =f.hidden_field :user_id, value: current_user.id
  .form-group
    =f.label :rating
    -(1..5).to_a.each do |val|
      =f.radio_button :rating, val, class: 'star', checked: val==1
  .form-group
    =f.label :text
    =f.text_area :text
  .form-group
    =f.submit t('.btn_text')